<main class="main mx-auto max-w-200">
  <div class="content p-2">
    <h1 class="text-xl my-1 p-1 font-medium">
      bball-live
    </h1>
    <p class="p-1">
      experimental live scoring
    </p>
    <h2 class="my-1 mt-2 p-1 font-medium">
      Box Score
    </h2>
    <app-box-score-table [playerStatsLogs]="playerStatsLogs()" />
    <h2 class="my-1 mt-2 p-1 font-medium">
      Active Score
    </h2>
    <div class="p-1">
      <div class="flex gap-1 justify-center p-1 m-1">
        <div class="border-2 border-gray-200 rounded-full text-gray-600 w-24 h-24 flex justify-center items-center text-2xl flex-col">
          {{remainingSeconds()}}<br/>
          <small class="text-xs text-gray-400">seconds</small>
        </div>
      </div>
      <div class="flex gap-1 justify-center p-1 pb-2">
        <button [ngClass]="cssButtonClasses" (click)="startTimer()">Start</button>
        <button [ngClass]="cssButtonClasses" (click)="pauseTimer()">Pause</button>
        <button [ngClass]="cssButtonClasses" (click)="resetTimer()">Reset</button>
      </div>
    </div>
    <div class="border-1 border-gray-300">
      <table class="w-full">
        <thead>
        <tr class="border-b border-gray-300 bg-gray-200">
          <th class="w-auto px-1 py-1.5 text-left">&nbsp;</th>
          <th class="w-16 px-1 py-1.5 text-xs text-center">FGM-A</th>
          <th class="w-16 px-1 py-1.5 text-xs text-center">3PM-A</th>
          <th class="w-16 px-1 py-1.5 text-xs text-center">FTM-A</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">OREB</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">DREB</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">REB</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">AST</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">STL</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">BLK</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">TO</th>
          <th class="w-10 px-1 py-1.5 text-xs text-center">PTS</th>
        </tr>
        </thead>
        <tbody>
          @for (player of players(); track player.id) {
            <tr class="odd:bg-gray-100">
              <td class="w-auto px-2 py-1.5 text-xs">
                {{ player.name }}
              </td>
              <td class="w-16 px-1 py-0.5 text-xs text-center">
                <div class="flex gap-0.5 justify-center">
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFgMade(player)">+</button>
                  -
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFgAttempted(player)">+</button>
                </div>
              </td>
              <td class="w-16 px-1 py-0.5 text-xs text-center">
                <div class="flex gap-0.5 justify-center">
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFg3Made(player)">+</button>
                  -
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFg3Attempted(player)">+</button>
                </div>
              </td>
              <td class="w-16 px-1 py-0.5 text-xs text-center">
                <div class="flex gap-0.5 justify-center">
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFtMade(player)">+</button>
                  -
                  <button [ngClass]="cssTableButtonClasses" (click)="handleFtAttempted(player)">+</button>
                </div>
              </td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleOffRebound(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleDefRebound(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center">---</td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleAssist(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleSteal(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleBlock(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center"><button [ngClass]="cssTableButtonClasses" (click)="handleTurnover(player)">+</button></td>
              <td class="w-10 px-1 py-0.5 text-xs text-center">---</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <h2 class="my-1 mt-2 p-1 font-medium">
      Active Events
    </h2>
    <div>
      @for (event of activeEvents(); track event.id) {
        <div>
          <app-play-by-play-row [eventLog]="event" />
          @if (event.action === Action.FieldGoalMade_2 || event.action === Action.FieldGoalMade_3) {
            <div class="flex gap-1 p-1 px-2">
              Assisted by:
              <button [ngClass]="getSelectedCssTableButtonClasses(event, undefined)" (click)="dispatchMadeShotUpdateEvent(event, undefined)">Unassisted</button>
              @for (player of getAssistedBy(event.player); track player.id) {
                <button [ngClass]="getSelectedCssTableButtonClasses(event, player)" (click)="dispatchMadeShotUpdateEvent(event, player)">
                  {{ player.name }}
                </button>
              }
            </div>
          }
          <button [ngClass]="cssTableButtonClasses" (click)="dispatchDeleteEvent(event)">Delete</button>
        </div>
      } @empty {
        <p class="p-1">
          no events yet...
        </p>
      }
    </div>
  </div>
</main>

<router-outlet />
