<div class="border-1 border-gray-300">
  <table class="w-full">
    <thead>
    <tr class="heading-row">
      <th class="name">&nbsp;</th>
      <th class="stat extended">MIN</th>
      <th class="stat extended">FGM-A</th>
      <th class="stat extended">3PM-A</th>
      <th class="stat extended">FTM-A</th>
      <th class="stat">OREB</th>
      <th class="stat">DREB</th>
      <th class="stat">REB</th>
      <th class="stat">AST</th>
      <th class="stat">STL</th>
      <th class="stat">BLK</th>
      <th class="stat">TO</th>
      <th class="stat">PTS</th>
    </tr>
    </thead>
    <tbody>
    <tr class="descriptor-row">
      <th class="name" colspan="99">Starters</th>
    </tr>
    @for (log of starterPlayerLogs(); track log.id) {
      <tr class="stats-row">
        <td class="name">
          <app-player-name [player]="log.player" [active]="log.active" />
        </td>
        <td class="stat extended">{{ log.stats.seconds | minutes }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'fg' }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'fg3' }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'ft' }}</td>
        <td class="stat">{{ log.stats.offRebounds }}</td>
        <td class="stat">{{ log.stats.defRebounds }}</td>
        <td class="stat">{{ log.stats | rebounds }}</td>
        <td class="stat">{{ log.stats.assists }}</td>
        <td class="stat">{{ log.stats.steals }}</td>
        <td class="stat">{{ log.stats.blocks }}</td>
        <td class="stat">{{ log.stats.turnovers }}</td>
        <th class="stat">{{ log.stats | points }}</th>
      </tr>
    }
    <tr class="descriptor-row">
      <th class="name" colspan="99">Bench</th>
    </tr>
    @for (log of benchPlayerLogs(); track log.id) {
      <tr class="stats-row">
        <td class="name">
          <app-player-name [player]="log.player" [active]="log.active" />
        </td>
        <td class="stat extended">{{ log.stats.seconds | minutes }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'fg' }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'fg3' }}</td>
        <td class="stat extended">{{ log.stats | madeAndAttempted: 'ft' }}</td>
        <td class="stat">{{ log.stats.offRebounds }}</td>
        <td class="stat">{{ log.stats.defRebounds }}</td>
        <td class="stat">{{ log.stats | rebounds }}</td>
        <td class="stat">{{ log.stats.assists }}</td>
        <td class="stat">{{ log.stats.steals }}</td>
        <td class="stat">{{ log.stats.blocks }}</td>
        <td class="stat">{{ log.stats.turnovers }}</td>
        <th class="stat">{{ log.stats | points }}</th>
      </tr>
    }
    </tbody>
    <tfoot>
    <tr class="totals-row">
      <th class="name">Totals</th>
      <th class="stat">&nbsp;</th>
      <th class="stat extended">{{ totals() | madeAndAttempted: 'fg' }}</th>
      <th class="stat extended">{{ totals() | madeAndAttempted: 'fg3' }}</th>
      <th class="stat extended">{{ totals() | madeAndAttempted: 'ft' }}</th>
      <th class="stat">{{ totals().offRebounds }}</th>
      <th class="stat">{{ totals().defRebounds }}</th>
      <th class="stat">{{ totals() | rebounds }}</th>
      <th class="stat">{{ totals().assists }}</th>
      <th class="stat">{{ totals().steals }}</th>
      <th class="stat">{{ totals().blocks }}</th>
      <th class="stat">{{ totals().turnovers }}</th>
      <th class="stat">{{ totals() | points }}</th>
    </tr>
    <tr class="totals-row">
      <th class="name">&nbsp;</th>
      <th class="stat">&nbsp;</th>
      <th class="stat extended">{{ totals() | madeAndAttemptedPercentage: 'fg' }}</th>
      <th class="stat extended">{{ totals() | madeAndAttemptedPercentage: 'fg3' }}</th>
      <th class="stat extended">{{ totals() | madeAndAttemptedPercentage: 'ft' }}</th>
      <th class="stat" colspan="99">&nbsp;</th>
    </tr>
    </tfoot>
  </table>
</div>
